{% extends "base.html" %}
{% block body %}

    <div class="container my-3">
        <h2 class="text-center my-3 py-3">PHOTOGRAPHER</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/random/500x300/?insects" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Insects</h5>
                        <p class="card-text">Insects (from Latin insectum) are pancrustacean hexapod invertebrates of the class Insecta.
                        <a href="https://en.wikipedia.org/wiki/Insect" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/random/500x300/?animals" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Animals</h5>
                        <p class="card-text">Animals are multicellular, eukaryotic organisms in the biological kingdom Animalia.</p>
                        <a href="https://en.wikipedia.org/wiki/Animal" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/random/500x300/?birds" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Birds</h5>
                        <p class="card-text">Birds are feathered theropod dinosaurs and constitute the only known living dinosaurs.</p>
                        <a href="https://en.wikipedia.org/wiki/Bird" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock body %}